header {
    display: flex;
    height: 90px;
    width: 100%;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    font-weight: bold;
    align-items: center;
    border-bottom: 1px black solid;
}

.logo {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-left: 15px;
}

.logo img {
    margin-right: 10px;
}

.logo span {
    color: mediumaquamarine;
}

nav span {
    display: inline-block;
    padding: 15px 20px;
    
}

.container {
    display: flex;
    width: 1250px;
    justify-content: space-around;
    border: 1px solid black;
}

.column_left {
    display: flex;
    flex-direction: column;
    width: 630px;
    border: 1px solid black;
    margin-top: 40px;
}

.cl_story1 {
    border: 1px solid black;
}

.cl_story1_title {
    border: 1px solid black;
}

.cl_story2 {
    border: 1px solid black;
}

.cl_story3 {
    border: 1px solid black;
}

.cl_story4 {
    border: 1px solid black;
}

.cl_story5 {
    border: 1px solid black;
}

.column_center {
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 1px solid black;
    margin-top: 40px;
}

.cc_story1 {
    border: 1px solid black;
}

.cc_story2 {
    border: 1px solid black;
}

.cc_story2_title {
    border: 1px solid black;
}

.column_right {
    display: flex;
    flex-direction: column;
    width: 240px;
    border: 1px solid black;
    margin-top: 40px;
}

.cr_story1_img {
    height: 240px;
    width: 240px;
    border: 1px solid black;
    background-image: url("../images/img-news-bite.png");
}

.cr_story1 {
    border: 1px solid black;
}